<mat-form-field appearance="legacy">
    <mat-label class="span_color_black">Buscar por precio</mat-label>
    <input matInput [name]="filter" [formControl]="filter" placeholder="$" autocomplete="off">
  </mat-form-field>
  
    <div *ngIf="undefined === ratesFiltered">
      <mat-progress-spinner
      class="example-margin"
    
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
      </div>  

    <div *ngIf="undefined !== ratesFiltered" class="container">
        <div class="row">  
        <mat-list class="col-12">
              <h3 mat-subheader>Tarifas </h3>
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6  d-inline-flex" *ngFor="let product of ratesFiltered | async">
              <mat-list-item >
                  <mat-icon mat-list-icon>money</mat-icon>
                  <h4 class="main_data" mat-line>{{product.name + ' $ ' +  product.value }}</h4>
                  <p class="text-wrap" mat-line> {{product.description}} </p>
              </mat-list-item>
            </div>
            </mat-list>
          </div>
      </div>