<mat-form-field appearance="legacy">
    <mat-label class="span_color_black">Buscar por precio</mat-label>
    <input matInput [name]="filter" [formControl]="filter" placeholder="$" autocomplete="off">
  </mat-form-field>
  
  
  <div *ngIf="undefined === exitsFiltered">
    <mat-progress-spinner
    class="example-margin"

    [mode]="mode"
    [value]="value">
</mat-progress-spinner>
    </div>

<div *ngIf="undefined !== exitsFiltered" class="container">
    <div class="row">  
    <mat-list class="col-12">
          <h3 mat-subheader>Tarifas </h3>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6  d-inline-flex" *ngFor="let product of exitsFiltered | async">
          <mat-list-item >
              <mat-icon mat-list-icon>directions_car</mat-icon>
              <h4 class="main_data" mat-line>{{product.entry_id}}</h4>
              <p class="text-wrap" mat-line> {{"Paga: $" + product.ammount_to_paid + ", Tiempo total: " +  product.total_time + " minutos"}} </p>
          </mat-list-item>
        </div>
        </mat-list>
      </div>
  </div>