<mat-form-field appearance="legacy">
    <mat-label class="span_color_black">Buscar por placa</mat-label>
    <input matInput [name]="filter" [formControl]="filter" placeholder="AAA-123" autocomplete="off">
  </mat-form-field>
  
  
  <div *ngIf="undefined === entriesFiltered">
    <mat-progress-spinner
    class="example-margin"

    [mode]="mode"
    [value]="value">
</mat-progress-spinner>
    </div>
 
    <div *ngIf="undefined !== ratesFiltered" class="container">
        <div class="row">  
        <mat-list class="col-12">
              <h3 mat-subheader>Entradas </h3>
              <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6  d-inline-flex" *ngFor="let product of ratesFiltered | async">
              <mat-list-item >
                  <mat-icon mat-list-icon>directions_car</mat-icon>
                  <h4 class="main_data" mat-line>{{ entrie.id + " " + entrie.plate}}</h4>
                  <p class="text-wrap" mat-line> {{entrie.date_arrival + entrie.hour_arrival}} </p>
              </mat-list-item>
            </div>
            </mat-list>
          </div>
      </div>